@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-fundo:#242424;
    --branco: #373636;
    --laranja: #925686;
    --azul-gradiente: linear-gradient(77.34deg, #F11414 35.49%, #D4111C 165.37%);
    --azul: #002F52;
    --font-principal: "Poppins";
    --font-secondary: "Josefin Sans";
    --black: #c9c9c9;
    --cinza: #464646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: 400;
}

  


